<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Python Essential</h1>
    </div>
	<!--
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>-->

<div class="topcoat-list__container list">
  <!--  <h3 class="topcoat-list__header">Top Coder Python</h3>-->
    <ol class="topcoat-list">
        <li class="topcoat-list__item--first" ng-click="slidePage('/view8')">
            List looping
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            List Sorting
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view2')">
            Dictionary Sorting
		  
        </li>
		
		  
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
           Shallow vs Deep Copy
        </li>
		
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view4')">
            
		  Enumerate
		  
		  
        </li>
	
		
        <li class="topcoat-list__item" ng-click="slidePage('/view5')">
            Lru Cache
        </li>
	
		
        <li class="topcoat-list__item" ng-click="slidePage('/view6')">
           Collections Counter
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view7')">
            Default Dictionary
        </li>
		
		
	  <li class="topcoat-list__item" ng-click="slidePage('/view9')">
		Named Tuple
	
		
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view10')">
	 
		Ordered Dictionary

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view11')">

		Break Continue Else

	  </li>
	  
	  
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view12')">
		Exceptions

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view13')">
		Generator

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view14')">
	  Function

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view15')">
		Oops

	  </li>

	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view16')">
		Conditionals
  </li>
	  
  
	  <li class="topcoat-list__item" ng-click="slidePage('/view17')">
		While Loop

	  </li>   
	  
	  
	  
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view19')">

		 3 digit regular expression

	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view20')">

		Named Params Functions

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view21')">

		Return Values Functions

	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view22')">

		Function variable arguments

	  </li> 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view23')">

	  Function defination

	  </li> 

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view24')">

		Exception Raise

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view25')">

		Class Decorator

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view26')">

		Inheritance 

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view27')">

		Polymorphism

	  </li>   

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view28')">

	 Methods

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view29')">

	  Keyword Argument classes

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view30')">

	 Generator Objects

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view33')">

		Object Data

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view34')">

		Binary File

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view35')">

		Modules

	  </li>   
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view36')">
		
		Files Buffered Mode
	  </li>
	

	  <li class="topcoat-list__item" ng-click="slidePage('/view37')">

		Assignment
		
	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view38')">

		Objects
	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view39')">

		Conditional

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view40')">

	  File IO

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view41')">

		Oops

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view42')">

		If then Elif Else

	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view43')">

		  Loop Fibonacci

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view44')">

		Functions

	  </li>

	  
	  
	  
	  
    </ol>
	<!--
    <div class="topcoat-navigation-bar">
        <h1 class="centerize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
        <h1 class="centerize" ng-show="showURL" ng-swipe-right="showURL=false"><a href="http://devgirl.org">devgirl.org </a></h1>
    </div>
</div>
<!--
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
-->
